.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  padding: 5px 0;
  text-align: left;
  box-shadow: 2px 2px #817E7E;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 8px;
}

span {
  font-size: 15px;
}

.tooltiptext a {
  font-size: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}