.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  padding: 5px 0;
  border-color: #D3D2D2;
  border-width: medium;
  text-align: left;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  width: 300px;
}

img {
  width: 80px;
  height: 80px;
  float: left;
}

span {
  font-size: small;
}

a {
  font-size: small;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}